/*
#f1f1f3
#b05ae2
#323133

#979699
#cbcacc

*/
html {
  position: relative;
  min-height: 100%;
}
body {
	
	margin-bottom: 80px;
	overflow-x: hidden;
	background-color: #e8e8e8;
	color: #323133;
	/* Margin bottom by footer height */
	margin-bottom: 80px;
}
.studio-edit {

}
.studio-edit .row {
	margin: 0 ;
	padding: 0 ;
}
.edit-form .form-control {
	color: #323133;
	background-color: #f1f1f3;
	border: 8px solid #cbcacc;
	height: 44px;
	padding: 6px 12px;
	font-size: 14px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	-o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
	transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.has-warning,
.has-error,
.has-success{
	border: 8px
}

input[type="radio"], input[type="checkbox"] {
	display: inline;
}

.studio-edit h1 {
	font-family: 'cgsm-thin';

}
.studio-edit h2 {
	font-family: 'cgsm-light';
	font-size: 1.2em;
	color: #e2b05a;
	background-color: #f1f1f3;
	padding: 0.6em 0.6em;
	border-left: 8px solid #e2b05a;

}
.studio-edit p {
	color: #323133;
}
.studio-edit i {
	font-family: 'cgsm-regular';
	font-size: 1em;
	font-weight: normal;
	font-style: normal;
	color: #cbcacc;
}

/*/////////////////////////////////
       FOOTER
///////////////////////////////// */
.footer {
	/*display: none;*/
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 80px;
}

footer .row {
    padding: 0;
    margin: 0;
}

footer .name {
    font-family: 'cgsm-regular';
    font-size: 1.4em;
    line-height: 3.4em;
    color: #f1f1f3;
    display: inline-block;
}

footer .name::after {
    content: " ";
}

footer .catch {
    font-family: 'cgsm-regular';
    font-size: 1em;
    line-height: 1em;
    color: #b05ae2;
    text-indent: 1em;
    display: inline-block;
    
}

.socials i {
    padding: 0 15px;
    padding-top: 20px!important;
    color: #f1f1f3;
    text-align: right;
    list-style-type: none;
    background-color: transparent;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
}

.socials i,
footer .catch,
footer .name{
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}


.socials i > a:hover {
    cursor: pointer;
    text-decoration: none;
}

.fa-github:hover {
    color: #B05AE2!important;
}

.fa-twitter:hover {
    color: #55ACEE!important;
}

.fa-linkedin:hover {
    color: #0077B5!important;
}
.changeBG {
    background-color: transparent;
}


/*/////////////////////////////////
        MEDIA QUERIES
///////////////////////////////// */


@media (max-width: 767px) {
    footer .name {
        font-size: 1em;
        line-height: 2em;
        padding-top: 0.4em;
    }
    footer .catch {
        font-size: 0.78em;
    }
    .socials i {
        padding: 0 7px;
        padding-top: 30px!important;
    }
    footer .container {
        padding: 0;
        margin: 0;
    }


}
@media (min-width: 767px) and (max-width: 992px) {
    footer .name {
        font-size: 0.9em;
        line-height: 5.5em;
    }
    footer .catch {

    }
    .socials i {
        padding: 0 7px;
        padding-top: 35px!important;
    }
}