/*
#f1f1f3
#b05ae2
#323133

#979699
#cbcacc

*/

.jumbotron {
	padding: 0 0;
	margin: 0 0;
	
}
#studioDetails {
	position: relative;
	z-index: 1000;
	margin: 0 0;
	padding: 0 0;
	width: 100%;
}
#container-map-studio {
	position: relative;
	height: 350px;
	margin-top: 45px;
	z-index: 1;
}
#geochart_target {
	position: relative;
	width: 350px;
	float: right;
	margin-top: -280px;
	margin-right: 10%;
	height: 100%;
	z-index: -1;
}

#geochart_target svg {
	margin-top: 20px;
	margin-left: 20px;
	transform: scale(1.55);
}

#geochart_target path {
	stroke-width: 0.3;
	/* control the countries borders width */
	stroke: #cbcacc;
	/* choose a color for the border */
}
#geochart_target circle {
	r: 5px;
	stroke-width: 0 !important;
	animation: circle 1.5s ease-out infinite;
	opacity: 1;
}

@keyframes circle {
	100% {
		r: 8px;
		opacity: 0;
	}
}

.studio-header {
	position: relative;
	margin: 0 auto;
	padding: 0;
	padding-top: 100px;

}

.studio-header .btn {
	z-index: 200;
}
.studio-header h2 {
	font-family: 'cgsm-thin';
	font-size: 3.99em;
	margin: 0 0;
	border-bottom: 0 solid #b05ae2;
	color: #323133;
}

.studio-header h4 {
	font-family: 'cgsm-thin';
	font-size: 2em;
	color: #323133;
}
.studio-header .col-logo {
	width: 140px !important;
}
h3:before {
	content: "";
	display: block;
	border-top: 1px solid rgba(176,90,226,0.25);
	width: 80%;
	height: 1px;
	position: absolute;
	top: 55%;
	left: 20%;
	z-index: 1;
}
.studio_industries h4 {
	display: block;
	border-bottom: 1px solid rgba(176,90,226,0.15);

}
h3  {
	padding: 0 20px;
	position: relative;
	z-index: 5;
}


.studio-details .row {
	margin: 1em 0;
	padding: 0 0;
}
.studio-details h3 {
	font-family: 'cgsm-light';
	font-weight: normal;
	font-size: 2.99em;
}

.studio-details p {
	font-weight: normal;
}
.studio-details span {
	display: inline-block;
}
.details-street {
	font-family: 'cgsm-thin';
	font-size: 1.66em;
}
.details-city {
	font-family: 'cgsm-thin';
	font-size: 1.66em;
}
.details-country,
.details-country a,
.details-country a:hover{
	font-family: 'cgsm-light';
	font-size: 1.24em;
	color: #f2f2f2;
	background-color: #5bc0de;;
	text-decoration: none;
	padding: 0.1em 0.2em;
	text-transform: uppercase;
	border-radius: 0.1em !important;
	-webkit-border-radius: 0.1em !important;
	-moz-border-radius: 0.1em !important;
}
.details-web a,
.details-web a:hover{
	font-family: 'cgsm-regular';
	font-size: 1.33em;
	color: #e2b05a;
	background-color: #f1f1f3;
	padding: 0.4em 0.4em;
	text-decoration: none;
}

.details-phone {
	font-family: 'cgsm-thin';
	font-size: 1.2em;
}
.details-phone a,
.details-phone a:hover{
	font-family: 'cgsm-regular';
	font-size: 1.22em;
	color: #e2b05a;
	background-color: #f1f1f3;
	padding: 0.4em 0.4em;
	text-decoration: none;
}
.details-socials{
	font-size: 2em;
	padding: 0 0.1em;
	margin-bottom: 0.2em;
	background-color: #f1f1f3;
	display: inline-block;
}
.details-socials .fontCGSMicons{
	background-color: #f1f1f3;
	padding: .3em;
	cursor: pointer;
	
	border-radius: 0.15em !important;
	-webkit-border-radius: 0.15em !important;
	-moz-border-radius: 0.15em !important;
}
.details-connect-right,
.details-country {
	float: right !important;
}
.studio-header .logo-thumb {
	width: 128px !important;
	height: 128px !important;
	margin: 0 0;
	overflow: hidden;
	border: 2px solid #cbcacc;
	background-color: #fff;
	border-radius: 0.15em !important;
	-webkit-border-radius: 0.15em !important;
	-moz-border-radius: 0.15em !important;
}

.studios .logo-thumb {
	background-color: #fff;
	width: 64px !important;
	height: 64px !important;
}
.label {
	display: inline-block;
	font-family: 'cgsm-regular';
	padding: .3em .8em .4em;
	margin: 0.2em 0;
	font-size: 85%;
	font-weight: normal;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.15em !important;
	-webkit-border-radius: 0.15em !important;
	-moz-border-radius: 0.15em !important;
}


.studios h4 {
	font-family: 'cgsm-regular';
	margin-top: 0;
}

.studios .partner-item {
	padding-bottom: 0.5em;
	height: 240px;
}

.studios img {
	padding-bottom: 0.5em;
	height: 240px;
}




.navDirectory {
    padding-top: 8px;
    z-index: 10;
}
.navDirectory .col-sm-12,
.navDirectory .col-sm-8,
.navDirectory .col-sm-2,
.navDirectory .col-sm-3{
    padding-left: 0;
    padding-right: 0;
    height: 44px;
}
.navDirectory .row {
    margin: 0.25em 0;
    margin-bottom: 0;
}
.navDirectory form {
    display: inline-block;
    margin-top: 0em;
}

.navSearch .form-control,
.navSearch .search-query {
    font-family: 'cgsm-light';
    font-size: 2em;
    display: block;
    width: 100% !important;
    height: 45px;
    vertical-align: middle;
    color: #323133;
    background-color: #fff;
    background-image: none;
    border: 0 solid transparent;
}
.navSearch a:link,
.navSearch a{
    color: #323133;
    background-color: #cbcacc;
    border: 1px solid #cbcacc;
}
.navSearch a:hover,
.navSearch a:focus{
    color: #f1f1f3;
    text-decoration: underline;
    background-color: #b05ae2;
}
.navSearch .fa{
    font-size: 1.6em;
    padding: auto 0;
    margin: 0;
}
.navEdit{
	margin-top: 2em;
}
.navEdit form,
.navEdit .input-group{
	max-width: 100px;
	display: inline !important;
	height: 55px;
	font-family: 'cgsm-thin';
}

.btn {
	font-family: 'cgsm-regular';
	border: 0 none;
	font-weight: normal;
	letter-spacing: 1px;
	text-transform: none;
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;
}
.btn:hover {
	color: #f1f1f3;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus {
	/*outline: 0 none;*/
}

.btn-edit {
	font-size: 1.35em;
	border: 0 solid #5ae2b0;
	color: #5ae2b0;
	padding: 12px 22px;
}

.btn-edit:hover,
.btn-edit:focus,
.btn-edit:active,
.btn-edit.active,
.open > .dropdown-toggle.btn-edit {
	background: #f1f1f3;
	border-color: #5ae2b0;
	color: #5ae2b0;
}

.btn-edit:active,
.btn-edit.active {
	border-color: #5ae2b0;
	box-shadow: none;
}

.btn.outline {
	background: none;
	padding: 12px 22px;
}
.btn.outline:hover,
.btn.outline:focus{
	background: #5ae2b0;
	color: #f1f1f3;
}
.btn-cgsm-add {
    font-family: 'cgsm-regular';
    font-size: 1.66em;
	height: 45px;
    line-height: normal;
    vertical-align: baseline;
    background-color: #5ae2b0;
    color: #f1f1f3;
	z-index: 100;
}
@media (max-width: 992px) {
    .btn-cgsm-add {
        font-size: 1.2em;
        line-height: 2em;
    }
}
@media (max-width: 767px) {
    .btn-cgsm-add {

    }
}

.navBgcolor{
    background-color: #cbcacc;
}
.navBtnColor {
    background-color: transparent;
}
input {
    background-color: transparent;
}

.navSearch .fontCGSMicons{
    font-size: 1em;
	color: #323133;
}
.navSearch .fontCGSMicons:hover{
	color: #f1f1f3;
}
.navSearch a:hover{
    text-decoration: none;
}

.studio-proposal .row{
	margin: 0.5em 0;
	
}
.studios .partner-item {
    padding-bottom: 0.5em;
    height: 120px;
}






/*/////////////////////////////////
        STUDIO CLOSED
///////////////////////////////// */

.col-logo .corner-ribbon {
	font-family: 'cgsm-regular';
	width: 128px;
	background: #e43;
	position: relative;
	top: 0;
	right: -40px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: #f1f1f3;
}


/*/////////////////////////////////
        MEDIA QUERIES
///////////////////////////////// */

@media (max-width: 767px) {

}

@media (max-width: 767px) {
	#geochart_target svg {
		margin-top: 50px;
		margin-left: 50px;
		transform: scale(1);
	}
	.btn-cgsm-add {
		width: 95%
	}
	.studio-header {
		padding-top: 20px;

	}
	.studio-header h2 {
		font-size: 2.5em;
	}

	.studio-header h4 {
		font-size: 1.5em;
	}
	.studios img {
		margin: 0 auto!important;
		text-align: center!important;
	}
	.studios {
		margin: 0 auto!important;
		text-align: center!important;
	}
	.btn {
		
	}
	.btn.outline {
		padding: 6px 11px;
	}
	.btn-edit {
		float: right;
	}
	.studio-details h3 {
		font-size: 1.99em;
	}
	h3:before {
		content: "";
		width: 50%;
		left: 40%;
	}
	.details-connect-right,
	.details-country,
	.details-country a,
	.details-country a:hover{
		float: none!important;
	}
	.details-street, .details-city {
		font-size: 1.33em;
	}
	.details-connect-right,
	.details-country,
	.details-country a,
	.details-country a:hover{
		font-size: 1.14em;
	}


}
@media (max-width: 992px) {
	.studio-details h3 {
		font-size: 2.4em;
	}
	h3:before {
		content: "";
		width: 50%;
		left: 40%;
	}
	.details-connect-right,
	.details-country,
	.details-country a,
	.details-country a:hover{
		float: none!important;
	}
}
@media (max-width: 1200px) {

	h3:before {
		content: "";
		width: 40%;
		left: 40%;
	}
}