main/.*
#main/bin
main/develop-eggs
#main/eggs
#main/etc
#main/parts

__pycache__/
*.py[cod]
*.pyc
*.css.map
.sass-cache
.cache

pip-log.txt
pip-delete-this-directory.txt
*.log

# specific files
# pycharm
.idea
# macos
.DS_Store

# Backup files
*~
*.swp

