apt-utils
git
libfreetype6
libfreetype6-dev
libgeos-dev
libjpeg-dev
libjpeg8-dev
libldap2-dev
libsasl2-dev
libssl-dev
libxml2-dev
libxslt1-dev
postgresql-server-dev-9.4
postgresql-client-9.4
python-pychart
python-dev
python-pip
python2.7
zlib1g-dev

tmux
ipython
