.colored-boxed span {
	font-size: 30px;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    width: auto;
}
b {
	font-weight: 700;
}
.inv-full-box {
	width: 100%;
	margin-top: 60px;
	margin-bottom: 50px;
	padding-bottom: 60px;
	padding-top: 60px;
	background-color: #b05ae2;
	color: #f2f2f2;
}

.inv-full-box h3 {
	max-width: 1200px;
	text-align: center;
    text-justify: inter-word;
	margin: 0 auto;
	padding-top: 0px;
	font-size: 200%;
}
@media (max-width: 767px) {
	.inv-full-box h3 {
		font-size: 100%;
	}
}
#present1 h2 {
	color: #b05ae2;
	border: 1px #b05ae2 solid;
	padding: 1.2em 0;
	border-radius: .25em !important;
	-webkit-border-radius: .25em !important;
	-moz-border-radius: .25em !important;
}
#present1 a{
	text-decoration: none;
}
#present1 .label-info {
    background-color: #5bc0de;
}
#present1 .label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}