html {
    min-height: 100%;
    overflow: hidden;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 80px;
    overflow-x: hidden;
    background-color: #e8e8e8;
    color: #323133;
}

.navDirectory {
    padding-top: 45px;
    z-index: 10;
    overflow: hidden;
}
.navDirectory .col-sm-12,
.navDirectory .col-sm-8,
.navDirectory .col-sm-2,
.navDirectory .col-sm-3{
    padding-left: 0;
    padding-right: 0;
    height: 45px;
}
.navDirectory .row {
    margin: 0.25em 0;
    margin-bottom: 0.45em;
}
.navDirectory form {
    display: inline-block;
    margin-top: 0em;
}

.navSearch .form-control,
.navSearch .search-query {
    font-size: 2em;
    display: block;
    width: 100% !important;
    height: 45px;
    vertical-align: middle;
    color: #323133;
    background-color: #f8f8f8;
    background-image: none;
    border: 1px solid #cbcacc;
}
.navSearch a:link,
.navSearch a{
    color: #323133;
    background-color: #cbcacc;
    border: 1px solid #cbcacc;
}
.navSearch a:hover,
.navSearch a:focus{
    color: #f1f1f3;
    text-decoration: underline;
    background-color: #b05ae2;
}

#btGetLocation {
	background-color: transparent;
	color: #f1f1f3;
	padding: 0.55em 0;
	margin-left: -1.2em;

}
#btGetLocation2 {
	position: absolute;
	left: 0px;
	top: 400px;
	z-index: 10000;

}
#btGetLocation button {
	background-color: #b05ae2;
	padding: 0.6em 0.8em;
	font-size: 1.25em;
	
	-webkit-border-top-right-radius: 5px !important;
	-webkit-border-bottom-right-radius: 5px !important;
	-moz-border-radius-topright: 5px !important;
	-moz-border-radius-bottomright: 5px !important;
	border-top-right-radius: 5px !important;
	border-bottom-right-radius: 5px !important;
}
.navBgcolor{
    background-color: #f8f8f8;
    border: 0 solid #b05ae2;
    border-left: 8px solid #b05ae2;
}
.navBtnColor {
    background-color: #5ae2b0;
}
input {
    background-color: transparent;
}
.filters {
    font-size: 1.2em;
    line-height: 2.7em;
    height: 45px;
    background-color: transparent;
    color: #323133;
    display: inline-block;
    padding: 0;
    padding-left: 0.66em;
    margin: 0;
}
.navFilters, .navSearch, .navSwitch {
    border: 0 !important;
    height: 45px !important;
    background-color: transparent;
    padding: 0 ;
    margin: 0;
}
.navSearch .fontCGSMicons{
    font-size: 1em;
}
.navSearch a:hover{
    text-decoration: none;
}
.navSwitch .disabled {
    color: #f1f1f3;
    background-color: #b05ae2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    -khtml-opacity: 1;
    opacity: 1;
}
.navSwitch .a-submit{
    color: #323133;
    background-color: #f8f8f8;
}
.navSwitch {
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.navSwitch .fontCGSMicons{
    font-size: 1.55em;
    padding: auto 0;
    height: 44px;
    margin: 0;
}
.navSwitch .btn{
    line-height: 1;
    border-radius: 0;
}
.navFilters .disabled {
    color: #b05ae2;
}
.navFilters .a-submit:hover,
.navFilters .a-submit:focus{
    text-decoration: underline;
    text-decoration-color: #b05ae2;
}
.navFilters::after {
    content:" /";
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0px 0;

}






#footer_map {
    background: none;
}
/*/////////////////////////////////
        STATS resume
///////////////////////////////// */

.stats {
	position: relative;
	display: inline-block;
    top: 0;
	width: 200px;
    max-height: 150px;
    text-align: center;
}
.stats p {
    font-size: 1.4em;
    line-height: 1em;
}
.stats p:nth-child(2) {
    font-size: 1.2em;
    line-height: 3.5em;
}
#stats-txt {
    position: absolute;
	top: 15px;
	left: 0;
	right: 100px;
}

.stat-resume {
    float: none;
    position: relative;
    margin: 0;
    padding: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stats-bg-svg {
    position: relative;
    width: 50%;
    height: auto;
    z-index: 100;
}


.jumbotron {
    padding-bottom: 0;
    margin-bottom: 0;
    padding: 0 0;
    border-top: 1px solid rgba(176,90,226,0.25);
    background: #f2f2f2;
}


#map {
    position: absolute;
    top: 110px;
	border-top: 1px solid rgba(176,90,226,0.25);
    margin: 0 auto;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

/*/////////////////////////////////
        BOOTSTRAP Table
///////////////////////////////// */

.bootstrap-table {
	margin-top: -20px;
}
.fixed-table-pagination {
	margin-top: 16.9px;
}
.bootstrap-table .row {
    margin: 0;
    padding: 0;
}
.bootstrap-table .table:not(.table-condensed), .bootstrap-table .table:not(.table-condensed) > tbody > tr > th, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > th, .bootstrap-table .table:not(.table-condensed) > thead > tr > td, .bootstrap-table .table:not(.table-condensed) > tbody > tr > td, .bootstrap-table .table:not(.table-condensed) > tfoot > tr > td {
    padding: 0 !important;
}

thead {
	font-family: 'Noto Sans', sans-serif !important;
    font-size: 1.2em;
	letter-spacing: 0.15em;
	padding: 2em;
	color: #cbcacc;
}

tbody {
	font-family: 'Noto Sans', sans-serif !important;
    font-size: 1.033em;
    padding-left: 2em;
}
.fixed-table-container thead th .both {
    background-image: url();
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #ececec;
}

.fixed-table-container tbody td .th-inner,
.fixed-table-container thead th .th-inner {
    padding: 8px;
    line-height: 1em;
    vertical-align: middle !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-transform: uppercase;
}
/* TABLE col img */
.fixed-table-container tbody td:nth-child(2) img {
    width: 40px;
    height: 40px;
}

.fixed-table-container tbody td{
	vertical-align: middle !important;
}

/* TABLE col studio name */
.fixed-table-container tbody td:nth-child(3) {
    font-size: 1.05em;
	font-weight: bold;
}
.fixed-table-container tbody td:nth-child(3) a{
	padding: 0.65em;
}
.fixed-table-container tbody td:nth-child(3) a:hover{
    text-decoration: none;
    background-color: #b05ae2;
    color: #f1f1f3;
}
.fixed-table-container tbody td:nth-child(5) a:hover{
    text-decoration: none;
	background-color: transparent;
}

/* TABLE col city COUNTRY */
.fixed-table-container tbody td:nth-child(6),
.fixed-table-container tbody td:nth-child(7){
	font-kerning: normal;
}
.fixed-table-container tbody td:nth-child(6){
	font-size: 0.88em
}
.fixed-table-container tbody td:nth-child(7){
	text-transform: uppercase !important;
	font-size: 1em
}
.fixed-table-container tbody tr:hover {
    background-color: #fff;
}
.jumbotron>.clearfix {
    background-color: #dddddd;
    border-top: 8px solid #dddddd;
}
.bootstrap-table .table {
    border-bottom: 1px solid transparent;
    border-collapse: collapse!important;
    border-radius: 0px;
}

table {
    border-spacing: 2px;
    border-color: transparent;
}

.bootstrap-table h4 {
    font-family: 'Noto Sans', sans-serif !important;
    font-size: 1.2em;
}

@media (max-width: 767px) {
    .bootstrap-table h4 {
        font-size: 1.6em;
    }
}

.bootstrap-table a,
.bootstrap-table a:hover,
.bootstrap-table a:active {
    color: #b05ae2;
}

.table>tbody>tr>td:nth-child(4) {
    font-size: 1.11em;
    color: rgb(226, 176, 90);
    text-decoration: underline;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #979699;
    background-color: transparent;
    border-color: transparent;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    color: #b05ae2;
    background-color: transparent;
	border: 0;
    border-bottom: 1px solid #b05ae2;
}

.pagination>li>a,
.pagination>li>span {
    color: #323133;
    text-decoration: none;
    background-color: transparent;
	border: 0;
}

.pagination>li>a:focus,
.pagination>li>a:hover,
.pagination>li>span:focus,
.pagination>li>span:hover,
.pagination>li>span {
    color: #b05ae2;
    text-decoration: none;
    background-color: transparent;
    border: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
    color: #f1f1f3;
    text-decoration: none;
    background-color: #b05ae2;
    outline: 0;
}
.pagination-detail .btn-default,
.pagination-detail .openerp button,
.pagination-detail .openerp .oe_button {
    color: #f1f1f3;
    background-color: #323133;
    border-color: #323133;
}
.fixed-table-pagination .btn-group {
    border: 1px solid #323133;
    margin-left: -0.5em;
}
.fixed-table-pagination .page-list,
.fixed-table-pagination .pagination a{

}
.fixed-table-pagination div.pagination, .fixed-table-pagination .pagination-detail {
    margin-top: 0;
    margin-bottom: 0;
}


.fixed-table-pagination .page-list, .fixed-table-pagination .pagination-detail {
    display: none;
}
.fixed-table-pagination .pull-right {
	position: relative;
	right: calc(50% - 60px);

}
.fixed-table-pagination .pagination {

}

::-webkit-scrollbar {
    width: 3px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
 
::-webkit-scrollbar-thumb {
    background-color: #323133;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}


/*/////////////////////////////////
        BOOTSTRAP Table Responsive
///////////////////////////////// */
.fixed-table-body .card-view .title {
    font-weight: bold;
    display: none;
    min-width: 30%;
    text-align: left !important;
}
.card-view {
	font-size: 1.0em;
	text-align: left;
}
.card-view a:hover,
.card-view a:focus{
	text-decoration: none;
}

.card-view img {
	text-align: left;
	width: 80px;
	height: 80px;
}
.table>tbody>tr>td>.card-views>.card-view:nth-child(1),
.table>tbody>tr>td>.card-views>.card-view:nth-child(2){
	float: left;
	display: block;
	padding: .5em;
}
.table>tbody>tr>td>.card-views>.card-view:nth-child(5){
	float: right !important;
}
.table>tbody>tr>td>.card-views>.card-view:nth-child(7)>.value{
	display: inline;
	font-weight: bold;
	text-transform: uppercase;
}


/*/////////////////////////////////
        INFO windows Studios
///////////////////////////////// */

.gm-style-iw {
    max-width: 300px !important;

}
#iw-container {
    margin-bottom: 10px;
}
#iw-container .iw-title {
	text-align: center;
    font-size: 1.28em;
    font-weight: bold;
    padding: 10px;
    background-color: transparent;
    color: #b05ae2;
    margin: 0 auto;

}
#iw-container .iw-title a:active,
#iw-container .iw-title a:visited,
#iw-container .iw-title a:link {
	padding: 0.5em 1.2em;
    color: #b05ae2;
	background-color: transparent;
    text-decoration: none;
}
#iw-container .iw-title a:hover,
#iw-container .iw-title a:focus {
    color: #f1f1f3;
	background-color: #b05ae2;
    text-decoration: none;
}
#iw-container .iw-content {
    font-size: 1.05em;
    line-height: 14px;
    font-weight: normal;
    margin-right: 1px;
    padding: 2px 0 20px 0;
    max-height: 140px;
    overflow-y: auto;
    overflow-x: hidden;
}
.iw-content img {
    float: right;
    margin: 0 5px 5px 10px;
}
.iw-content a:hover {
    text-decoration: none;
}
.iw-subTitle {
    font-size: 16px;
    font-weight: normal;
    padding: 5px 0;
}


#map_info_footer {
	display: none;
    text-align: right;
    position: absolute;
    bottom: 1em;
    width: 100%;
    text-transform: uppercase;
}
#map_info_footer a:link,
#map_info_footer a:active{
    padding: 0.5em 1.2em;
}
#map_info_footer a:hover {
    text-decoration: none;
    background-color: #b05ae2;
    color: #f1f1f3;
}


.label {
    display: inline;

    padding: .2em .6em .3em;
    font-size: 78%;
    font-weight: normal;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25em !important;
	-webkit-border-radius: 0.25em !important;
	-moz-border-radius: 0.25em !important;

}


/*/////////////////////////////////
       FOOTER
///////////////////////////////// */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 80px;

    background-color: #F1F1F3;

}

footer .row {
    padding: 0;
    margin: 0;
}

footer .name {
    font-family: 'cgsm-regular';
    font-size: 1.4em;
    line-height: 3.4em;
    color: #323133;
    display: inline-block;
}

footer .name::after {
    content: " ";
}

footer .catch {
    font-family: 'cgsm-regular';
    font-size: 1.06em;
    line-height: 1em;
    color: #b05ae2;
    text-indent: 1em;
    display: inline-block;
    
}

.footer .socials i {
    padding: 0 15px;
    padding-top: 20px!important;
    color: #7f7d82;
    text-align: right;
    list-style-type: none;
    background-color: transparent;
    -webkit-transition: 0.2s linear;
    -moz-transition: 0.2s linear;
    -o-transition: 0.2s linear;
    transition: 0.2s linear;
	text-shadow:
		1px 1px 1px rgba(50, 49, 51, 0.1),
		-1px -1px 1px rgba(50, 49, 51, 0.1);
}
.footer .socials i ::after{
	position: relative;

	width: 64px;
	height: 64px;
	background-color: red;
}
.socials i,
footer .catch,
footer .name{
    text-shadow: 
		1px 0 0		rgba(241, 241, 243, 0.9),
		-1px 0 0	rgba(241, 241, 243, 0.9),
		0 1px 0		rgba(241, 241, 243, 0.9),
		0 -1px 0	rgba(241, 241, 243, 0.9);
}


.footer .socials i a:hover {
    cursor: pointer;
    text-decoration: none;
	text-shadow: 
		0 0 0 rgba(255, 255, 255, 0),
		0 0 0 rgba(255, 255, 255, 0);
}

.fa-github:hover {
    color: #B05AE2!important;

}

.fa-twitter:hover {
    color: #55ACEE!important;
}

.fa-linkedin:hover {
    color: #0077B5!important;
}
.changeBG {
    background-color: transparent;
}

/*/////////////////////////////////
        ADMIN ToolBox
///////////////////////////////// */
#admin-toolbox {
	position: absolute;
	top: 50px;
	left: 0;
	background-color: #323133;
	padding: 0.5em;
	color: #f1f1f3;
	z-index: 10000;
}
#admin-toolbox p {
	font-size: 0.66em;
	text-transform: uppercase;
}
#admin-toolbox input {
	font-size: 1.8em;
}


/*/////////////////////////////////
        LOADING
///////////////////////////////// */

@-webkit-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-moz-keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotate-forever {
    0% {
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.loading-spinner {
    -webkit-animation-duration: 0.75s;
    -moz-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: rotate-forever;
    -moz-animation-name: rotate-forever;
    animation-name: rotate-forever;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    animation-timing-function: linear;
    height: 50px;
    width: 50px;
    border: 10px solid #b05ae2;
    border-right-color: transparent;
    -webkit-border-radius: 50%!important;
    -moz-border-radius: 50%!important;
    border-radius: 50%!important;
    display: inline-block;
}
.loading-spinner {
    position: absolute;
    top: 50%;
    right: 0;
    bottom: 0;
    left: 50%;
    margin: -15px 0 -15px;
}

.jumbotron > .clearfix {
    background-color: transparent;
    border-top: 1px solid #dddddd;
}

/*/////////////////////////////////
        MEDIA QUERIES
///////////////////////////////// */


@media (max-width: 767px) {
    footer .name {
        font-size: 1em;
        line-height: 2em;
        padding-top: 0.4em;
    }
    footer .catch {
        font-size: 0.78em;
    }
    .socials i {
        padding: 0 7px;
        padding-top: 30px!important;
    }
    footer .container {
        padding: 0;
        margin: 0;
    }
    .navDirectory form {
        display: inline-block;
    }
    .navDirectory > .row {
		margin: 0.15em 0;
		margin-bottom: 0.65em;
    }
	#map {
		top: 95px;
	}
	.btn {
		height: 28px;
	}
	.filters {
		font-size: .9em;
		line-height: 1.95em; 
		padding-left: 0.33em;
		height: 28px;
	}
	.navDirectory {
		padding-bottom: 0;
		padding-top: 50px;
	}
	
	.navSearch .form-control,
	.navSearch .search-query {
		font-size: 1em;
		display: block;
		width: 100% !important;
		height: 28px;
		border: 0 solid #cbcacc;
	}
	.navSearch .fontCGSMicons{
		position: absolute;
		right: 7px;
		font-size: .9em;
		line-height: .5em;
		padding: 0 0;
		height: 28px;
		margin: 0;
		padding-bottom: 10px;
	}
	.navSearch .btn-lg {
		height: 28px;
		padding: auto 0;
	}
	.navDirectory .col-sm-12,
	.navDirectory .col-sm-8,
	.navDirectory .col-sm-2,
	.navDirectory .col-sm-3{
		height: 28px;
	}
	.navFilters, .navSearch, .navSwitch {
		height: 28px !important;
		background-color: transparent;
	}

	.navFilters, .navSearch, .navSwitch {
		height: 28px !important;
		background-color: transparent;
	}
	.navSwitch .fontCGSMicons {
		font-size: .9em;
		line-height: .5em;
		padding: auto 0;
		height: 28px;
		margin: 0;
	}
	.btn-cgsm-add {
		font-size: 1em;
		line-height: 1.33em;
		margin-top: .28em;
	}
}
@media (min-width: 767px) and (max-width: 992px) {
    footer .name {
        font-size: 0.9em;
        line-height: 5.5em;
    }
    footer .catch {

    }
    .socials i {
        padding: 0 7px;
        padding-top: 35px!important;
    }
}
