.footer {
	display: none;
	visibility: hidden;
}

.thumbnail {
	-webkit-border-top-left-radius: 4px !important;
	-webkit-border-top-right-radius: 4px !important;
	-moz-border-radius-topleft: 4px !important;
	-moz-border-radius-topright: 4px !important;
	border-top-left-radius: 4px !important;
	border-top-right-radius: 4px !important;
}

.thumbnail .caption {
	min-height: 140px;
}


#btGetLocation, #btGetLocation2, #btGetLocation button, #btGetLocation2 button {
	display: none !important;
}