#autocomplete {
    border: 0;
    width: 100%;
}

#eac-container-autocomplete {
    top: 39px;
}

#eac-container-autocomplete > ul {
    border-radius: 5px !important;
}

#eac-container-autocomplete > ul > li {
    border: 0;
    border-radius: 5px !important;
}

#eac-container-autocomplete > ul > li > div > b {
    color: #b05ae2;
}
.easy-autocomplete {
    width: 100% !important;
}
