@import "../stylesheets/_bootstrap";

.openerp {
  button {
    @extend .btn;
    @extend .btn-default;

    background-image: none;
    box-shadow: none;
    text-shadow: none;
    outline: none;

    &:hover {
      box-shadow: none;
      text-shadow: none;
      outline: none;
      background-image: none;
    }

    &.oe_highlight {
      @extend .btn-primary;
      background-image: none;
      box-shadow: none;
      text-shadow: none;
      outline: none;
      &:hover {
        box-shadow: none;
        text-shadow: none;
        outline: none;
        background-image: none;
      }
    }
    &.oe_form_button {
      padding: 2px 12px 2px 12px;
    }
  }
  .oe_button {
    @extend button;
    &:hover {
      @extend button:hover;
    }
  }
}
