$main_orange: #E67C2F;
$main_white: #ffffff;
$light_orange: #d9752e;


$breadcrumb_title: $main_orange;
$breadcrumb_item: black;

$tag_dark: $main_orange;
$search_facet: $main_white;

$menu_section: $main_orange;

$url_links: $main_orange;
$form_required_text: black;
$form_required: #FFD6A7;

$nav_pills: $main_orange;
$nav_pills_text: $main_white;
$nav_pills_hover: $light_orange;
$nav_pills_text_hover: $main_white;

$stat_button: $main_orange;
$stat_button_hover: $main_orange;
$stat_button_text_hover: $main_white;
$stat_button_fa_hover: $main_white;

$badge_color: $main_orange;
$badge_backgroung_color: $main_orange;
$active_badge_background_color: $main_orange;
$active_badge_color: $main_orange;

