
/* BASE color */
$c-cg: rgb(176,90,226);
$c-map: rgb(0,192,237);
$c-studios: rgb(162,219,25);

/* BACKGROUND color */
$c-bg-light: rgb(241,241,243);
$c-bg-dark: rgb(94,94,94);

/* TEXT color */
$c-txt-dark: $c-bg-dark;
$c-txt-light: $c-bg-light;
$c-txt-link: $c-studios;

// $main_orange: #E67C2F;
// $main_white: #ffffff;
// $light_orange: #d9752e;


$breadcrumb_title: $c-studios;
$breadcrumb_item: $c-txt-dark;

$tag_dark: $c-cg;
$search_facet: $c-bg-light;

$menu_section: $c-cg;

$url_links: $c-studios;
$form_required_text: $c-txt-dark;
$form_required: $c-cg;

$nav_pills: $c-cg;
$nav_pills_text: $c-txt-light;
$nav_pills_hover: $c-bg-light;
$nav_pills_text_hover: $c-txt-light;

$stat_button: $c-map;
$stat_button_hover: $c-bg-light;
$stat_button_text_hover: $c-map;
$stat_button_fa_hover: $c-cg;

$badge_color: $c-cg;
$badge_backgroung_color: $c-cg;
$active_badge_background_color: $c-cg;
$active_badge_color: $c-cg;

