//-------------------
// OFFICIAL colors
//-------------------
$color-cgsm-light: rgb(241,241,243);
$color-cgsm-dark: rgb(50,49,51);
$color-cgsm: rgb(176,90,226);

$color-tonic: rgb(90,226,176);
$color-fill: rgb(226,176,90);

$color-grey-light: rgb(203,202,204);
$color-grey: rgb(151,150,153);
$color-grey-dark: rgb(76,76,76);

$bg : #f2f2f2;


//-------------------
// Social media name and color
//-------------------

$twitter:           #00aced;
$facebook:          #3b5998;
$youtube:           #bb0000;
$github:			#4183c4;
$linkedin:			#007bb6;
$vimeo:				#aad450;
$add:				$color-tonic;

$social:            (twitter,   $twitter),
                    (facebook,  $facebook),
					(linkedin,  $linkedin),
					(vimeo,  	$vimeo),
					(github,  	$github),
                    (youtube,   $youtube),
					(add,		$add);

@each $socialnetwork, $color in $social {
  .social-link--#{$socialnetwork} {
    color: $color;
    &:focus, 
    &:hover {
      color: darken($color,10%);
    }    
  }
}


//-------------------
// BOOTSTRAP upgrade
//-------------------
body {
	background-color: $bg;
}
.navbar-default, .navbar-inverse {
    background-color: $color-cgsm;
}
.navbar-nav>li>a{
	color: $color-cgsm-light;
}
.navbar-toggle {
    background-color: transparent;
    background-image: none;
    border: 0px solid transparent;
	color : $color-cgsm-light;
}
.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
    background-color: transparent;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: $color-cgsm-light;
}
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
    color: $color-cgsm-light;
}
.navbar-inverse .navbar-nav > li > a{
    color: $color-cgsm-light;
}
.navbar-inverse .navbar-nav > a,
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
	color: $color-cgsm-light;
	background-color: transparent;
}
.navbar-right {

	#dLabel {
	}
	
	@media (min-width: $screen-lg-min) {

	}
}

.jumbotron {
    background-color: transparent;
}
.dropdown-menu {
	font-family: 'cgsm-regular';
    background-color: white;
	color: $color-cgsm-dark;
	margin: 0;
    border: 0 solid $color-cgsm;
    -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    background-clip: padding-box;
}

.dropdown-menu > li > a {
    color: $color-cgsm-dark;
}
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:active{
    color: $color-cgsm;
}


//-------------------
// MAIN
//-------------------
#geochart_target {
	background-color: transparent;
}

.google-visualization-tooltip {
	border: solid 0px #000!important;

	box-shadow: 0px 0px 0px $color-cgsm-dark!important;
	
	background-color: $color-cgsm-dark!important;
}

.google-visualization-tooltip-item-list {

}

.google-visualization-tooltip-item:first-child {
	
}

.google-visualization-tooltip-item {
	color: $color-cgsm-light!important;
}

.dropdown-menu .divider {
    background-color: $color-cgsm-light;
}
.analytic-map {
    background: #fff;
}

.analytic-map h1, .analytic-map p{
    color: $color-cgsm-dark;
}
.stats {
	p {
    color: $color-cgsm-light;
	}
	p:nth-child(2) {
		color: $color-cgsm;
	}
}
.colored-boxed i,
.colored-boxed span {
	background-color: transparent;
	color: $color-cgsm;
	border-color: $color-cgsm;
}
.colored-boxed a {
	text-decoration: none;
}
.colored-boxed i > a,
.colored-boxed span > a {
	background-color: $color-cgsm;
	color: $color-cgsm-light;
	border-color: $color-cgsm;
}
.colored-boxed.inv i,
.colored-boxed.inv span {
	background-color: $color-cgsm;
	color: $color-cgsm-light;
	border-color: $color-cgsm-light;
}
.bloc-signup {
	background-color: $color-tonic;
	color: $color-cgsm-light;
	p {
		color: $color-cgsm-dark;
	}
}

.bloc-signup h1 a,
.bloc-signup h1 a:hover,
.bloc-signup h1 a:active {
	color: $color-cgsm-light;
}
.footer {
	background-color: $color-cgsm-dark;
	color: $color-cgsm-light;
	
	.footer-name {
		color: $color-cgsm;
	}
	i, i > a {
		color: $color-cgsm-light;
	}
	a {
		color: $color-cgsm-light;

	}
	a:hover, a:active {
		color: $color-cgsm-light;
	}
}
.scroll-up {
	
	a {
		background-color: rgba($color-cgsm, 0.65);
		color: $color-cgsm-light;
	}
	a:hover, a:active {
		background-color: rgba($color-cgsm, .9);
		color: $color-cgsm-light;
	}
}




//-------------------
// old SUPER backoffice
//-------------------

$c-cg: $color-tonic;
$c-map: $color-fill;
$c-studios: $color-cgsm;
$c-cg-80opa: rgba($c-cg, 0.8);
$c-studios-light: #EEEEEE;
$c-bg-light: $color-cgsm-light;
$c-bg-dark: $color-cgsm-dark;
$c-bg-logo: $color-cgsm;

// TEXT color
$c-txt-dark: $c-bg-dark;
$c-txt-light: $c-bg-light;
$c-txt-link: $c-studios;


$breadcrumb_title: $c-studios;
$breadcrumb_item: $c-txt-dark;

$tag_dark: $c-cg;
$search_facet: $c-bg-light;

$menu_section: $c-cg;

$url_links: $c-studios;
$form_required_text: $c-txt-dark;
$form_required: $c-studios-light;

$nav_pills: $c-cg;
$nav_pills_text: $c-txt-light;
$nav_pills_hover: $c-cg-80opa;
$nav_pills_text_hover: $c-txt-light;

$stat_button: $c-map;
$stat_button_hover: $c-bg-light;
$stat_button_text_hover: $c-map;
$stat_button_fa_hover: $c-cg;

$badge_color: $c-txt-light;
$badge_backgroung_color: $c-cg;
$active_badge_background_color: $c-cg;
$active_badge_color: c-txt-light;

