@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');

@font-face {
    font-family: 'cgsm-bold';
    src: url('../fonts/colabbol-webfont.eot');
    src: url('../fonts/colabbol-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabbol-webfont.woff2') format('woff2'),
         url('../fonts/colabbol-webfont.woff') format('woff'),
         url('../fonts/colabbol-webfont.ttf') format('truetype'),
         url('../fonts/colabbol-webfont.svg#colaborate-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cgsm-light';
    src: url('../fonts/colablig-webfont.eot');
    src: url('../fonts/colablig-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colablig-webfont.woff2') format('woff2'),
         url('../fonts/colablig-webfont.woff') format('woff'),
         url('../fonts/colablig-webfont.ttf') format('truetype'),
         url('../fonts/colablig-webfont.svg#colaboratelightregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cgsm-regular';
    src: url('../fonts/colabreg-webfont.eot');
    src: url('../fonts/colabreg-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabreg-webfont.woff2') format('woff2'),
         url('../fonts/colabreg-webfont.woff') format('woff'),
         url('../fonts/colabreg-webfont.ttf') format('truetype'),
         url('../fonts/colabreg-webfont.svg#colaborate-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'cgsm-thin';
    src: url('../fonts/colabthi-webfont.eot');
    src: url('../fonts/colabthi-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/colabthi-webfont.woff2') format('woff2'),
         url('../fonts/colabthi-webfont.woff') format('woff'),
         url('../fonts/colabthi-webfont.ttf') format('truetype'),
         url('../fonts/colabthi-webfont.svg#colaborate-thinregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@import "variables";

@font-face {
    font-family: 'cgsm-font-icons';
    src:url('../fonts/cgsm-font-icons.eot?rfo9jj');
    src:url('../fonts/cgsm-font-icons.eot?rfo9jj#iefix') format('embedded-opentype'),
        url('../fonts/cgsm-font-icons.woff2?rfo9jj') format('woff2'),
        url('../fonts/cgsm-font-icons.ttf?rfo9jj') format('truetype'),
        url('../fonts/cgsm-font-icons.woff?rfo9jj') format('woff'),
        url('../fonts/cgsm-font-icons.svg?rfo9jj#cgsm-font-icons') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="cgsm-icon-"], [class*=" cgsm-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cgsm-font-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.cgsm-icon-facebook {
    &:before {
        content: $cgsm-icon-facebook;
    }
}
.cgsm-icon-github {
    &:before {
        content: $cgsm-icon-github;
    }
}
.cgsm-icon-instagram {
    &:before {
        content: $cgsm-icon-instagram;
    }
}
.cgsm-icon-linkedin {
    &:before {
        content: $cgsm-icon-linkedin;
    }
}
.cgsm-icon-twitter {
    &:before {
        content: $cgsm-icon-twitter;
    }
}
.cgsm-icon-vimeo {
    &:before {
        content: $cgsm-icon-vimeo;
    }
}
.cgsm-icon-youtube {
    &:before {
        content: $cgsm-icon-youtube;
    }
}
.cgsm-icon-eye {
    &:before {
        content: $cgsm-icon-eye;
    }
}
.cgsm-icon-paper-clip {
    &:before {
        content: $cgsm-icon-paper-clip;
    }
}
.cgsm-icon-mail {
    &:before {
        content: $cgsm-icon-mail;
    }
}
.cgsm-icon-toggle {
    &:before {
        content: $cgsm-icon-toggle;
    }
}
.cgsm-icon-layout {
    &:before {
        content: $cgsm-icon-layout;
    }
}
.cgsm-icon-link {
    &:before {
        content: $cgsm-icon-link;
    }
}
.cgsm-icon-bell {
    &:before {
        content: $cgsm-icon-bell;
    }
}
.cgsm-icon-lock {
    &:before {
        content: $cgsm-icon-lock;
    }
}
.cgsm-icon-unlock {
    &:before {
        content: $cgsm-icon-unlock;
    }
}
.cgsm-icon-ribbon {
    &:before {
        content: $cgsm-icon-ribbon;
    }
}
.cgsm-icon-image {
    &:before {
        content: $cgsm-icon-image;
    }
}
.cgsm-icon-signal {
    &:before {
        content: $cgsm-icon-signal;
    }
}
.cgsm-icon-target {
    &:before {
        content: $cgsm-icon-target;
    }
}
.cgsm-icon-clipboard {
    &:before {
        content: $cgsm-icon-clipboard;
    }
}
.cgsm-icon-clock {
    &:before {
        content: $cgsm-icon-clock;
    }
}
.cgsm-icon-watch {
    &:before {
        content: $cgsm-icon-watch;
    }
}
.cgsm-icon-air-play {
    &:before {
        content: $cgsm-icon-air-play;
    }
}
.cgsm-icon-camera {
    &:before {
        content: $cgsm-icon-camera;
    }
}
.cgsm-icon-video {
    &:before {
        content: $cgsm-icon-video;
    }
}
.cgsm-icon-disc {
    &:before {
        content: $cgsm-icon-disc;
    }
}
.cgsm-icon-printer {
    &:before {
        content: $cgsm-icon-printer;
    }
}
.cgsm-icon-monitor {
    &:before {
        content: $cgsm-icon-monitor;
    }
}
.cgsm-icon-server {
    &:before {
        content: $cgsm-icon-server;
    }
}
.cgsm-icon-cog {
    &:before {
        content: $cgsm-icon-cog;
    }
}
.cgsm-icon-heart {
    &:before {
        content: $cgsm-icon-heart;
    }
}
.cgsm-icon-paragraph {
    &:before {
        content: $cgsm-icon-paragraph;
    }
}
.cgsm-icon-align-justify {
    &:before {
        content: $cgsm-icon-align-justify;
    }
}
.cgsm-icon-align-left {
    &:before {
        content: $cgsm-icon-align-left;
    }
}
.cgsm-icon-align-center {
    &:before {
        content: $cgsm-icon-align-center;
    }
}
.cgsm-icon-align-right {
    &:before {
        content: $cgsm-icon-align-right;
    }
}
.cgsm-icon-book {
    &:before {
        content: $cgsm-icon-book;
    }
}
.cgsm-icon-layers {
    &:before {
        content: $cgsm-icon-layers;
    }
}
.cgsm-icon-stack {
    &:before {
        content: $cgsm-icon-stack;
    }
}
.cgsm-icon-stack-2 {
    &:before {
        content: $cgsm-icon-stack-2;
    }
}
.cgsm-icon-paper {
    &:before {
        content: $cgsm-icon-paper;
    }
}
.cgsm-icon-paper-stack {
    &:before {
        content: $cgsm-icon-paper-stack;
    }
}
.cgsm-icon-search {
    &:before {
        content: $cgsm-icon-search;
    }
}
.cgsm-icon-zoom-in {
    &:before {
        content: $cgsm-icon-zoom-in;
    }
}
.cgsm-icon-zoom-out {
    &:before {
        content: $cgsm-icon-zoom-out;
    }
}
.cgsm-icon-reply {
    &:before {
        content: $cgsm-icon-reply;
    }
}
.cgsm-icon-circle-plus {
    &:before {
        content: $cgsm-icon-circle-plus;
    }
}
.cgsm-icon-circle-minus {
    &:before {
        content: $cgsm-icon-circle-minus;
    }
}
.cgsm-icon-circle-check {
    &:before {
        content: $cgsm-icon-circle-check;
    }
}
.cgsm-icon-circle-cross {
    &:before {
        content: $cgsm-icon-circle-cross;
    }
}
.cgsm-icon-square-plus {
    &:before {
        content: $cgsm-icon-square-plus;
    }
}
.cgsm-icon-square-minus {
    &:before {
        content: $cgsm-icon-square-minus;
    }
}
.cgsm-icon-square-check {
    &:before {
        content: $cgsm-icon-square-check;
    }
}
.cgsm-icon-square-cross {
    &:before {
        content: $cgsm-icon-square-cross;
    }
}
.cgsm-icon-microphone {
    &:before {
        content: $cgsm-icon-microphone;
    }
}
.cgsm-icon-record {
    &:before {
        content: $cgsm-icon-record;
    }
}
.cgsm-icon-skip-back {
    &:before {
        content: $cgsm-icon-skip-back;
    }
}
.cgsm-icon-rewind {
    &:before {
        content: $cgsm-icon-rewind;
    }
}
.cgsm-icon-play {
    &:before {
        content: $cgsm-icon-play;
    }
}
.cgsm-icon-pause {
    &:before {
        content: $cgsm-icon-pause;
    }
}
.cgsm-icon-stop {
    &:before {
        content: $cgsm-icon-stop;
    }
}
.cgsm-icon-fast-forward {
    &:before {
        content: $cgsm-icon-fast-forward;
    }
}
.cgsm-icon-skip-forward {
    &:before {
        content: $cgsm-icon-skip-forward;
    }
}
.cgsm-icon-shuffle {
    &:before {
        content: $cgsm-icon-shuffle;
    }
}
.cgsm-icon-repeat {
    &:before {
        content: $cgsm-icon-repeat;
    }
}
.cgsm-icon-folder {
    &:before {
        content: $cgsm-icon-folder;
    }
}
.cgsm-icon-umbrella {
    &:before {
        content: $cgsm-icon-umbrella;
    }
}
.cgsm-icon-moon {
    &:before {
        content: $cgsm-icon-moon;
    }
}
.cgsm-icon-thermometer {
    &:before {
        content: $cgsm-icon-thermometer;
    }
}
.cgsm-icon-drop {
    &:before {
        content: $cgsm-icon-drop;
    }
}
.cgsm-icon-sun {
    &:before {
        content: $cgsm-icon-sun;
    }
}
.cgsm-icon-cloud {
    &:before {
        content: $cgsm-icon-cloud;
    }
}
.cgsm-icon-cloud-upload {
    &:before {
        content: $cgsm-icon-cloud-upload;
    }
}
.cgsm-icon-cloud-download {
    &:before {
        content: $cgsm-icon-cloud-download;
    }
}
.cgsm-icon-upload {
    &:before {
        content: $cgsm-icon-upload;
    }
}
.cgsm-icon-download {
    &:before {
        content: $cgsm-icon-download;
    }
}
.cgsm-icon-location {
    &:before {
        content: $cgsm-icon-location;
    }
}
.cgsm-icon-location-2 {
    &:before {
        content: $cgsm-icon-location-2;
    }
}
.cgsm-icon-map {
    &:before {
        content: $cgsm-icon-map;
    }
}
.cgsm-icon-battery {
    &:before {
        content: $cgsm-icon-battery;
    }
}
.cgsm-icon-head {
    &:before {
        content: $cgsm-icon-head;
    }
}
.cgsm-icon-briefcase {
    &:before {
        content: $cgsm-icon-briefcase;
    }
}
.cgsm-icon-speech-bubble {
    &:before {
        content: $cgsm-icon-speech-bubble;
    }
}
.cgsm-icon-anchor {
    &:before {
        content: $cgsm-icon-anchor;
    }
}
.cgsm-icon-globe {
    &:before {
        content: $cgsm-icon-globe;
    }
}
.cgsm-icon-box {
    &:before {
        content: $cgsm-icon-box;
    }
}
.cgsm-icon-reload {
    &:before {
        content: $cgsm-icon-reload;
    }
}
.cgsm-icon-share {
    &:before {
        content: $cgsm-icon-share;
    }
}
.cgsm-icon-marquee {
    &:before {
        content: $cgsm-icon-marquee;
    }
}
.cgsm-icon-marquee-plus {
    &:before {
        content: $cgsm-icon-marquee-plus;
    }
}
.cgsm-icon-marquee-minus {
    &:before {
        content: $cgsm-icon-marquee-minus;
    }
}
.cgsm-icon-tag {
    &:before {
        content: $cgsm-icon-tag;
    }
}
.cgsm-icon-power {
    &:before {
        content: $cgsm-icon-power;
    }
}
.cgsm-icon-command {
    &:before {
        content: $cgsm-icon-command;
    }
}
.cgsm-icon-alt {
    &:before {
        content: $cgsm-icon-alt;
    }
}
.cgsm-icon-esc {
    &:before {
        content: $cgsm-icon-esc;
    }
}
.cgsm-icon-bar-graph {
    &:before {
        content: $cgsm-icon-bar-graph;
    }
}
.cgsm-icon-bar-graph-2 {
    &:before {
        content: $cgsm-icon-bar-graph-2;
    }
}
.cgsm-icon-pie-graph {
    &:before {
        content: $cgsm-icon-pie-graph;
    }
}
.cgsm-icon-star {
    &:before {
        content: $cgsm-icon-star;
    }
}
.cgsm-icon-arrow-left {
    &:before {
        content: $cgsm-icon-arrow-left;
    }
}
.cgsm-icon-arrow-right {
    &:before {
        content: $cgsm-icon-arrow-right;
    }
}
.cgsm-icon-arrow-up {
    &:before {
        content: $cgsm-icon-arrow-up;
    }
}
.cgsm-icon-arrow-down {
    &:before {
        content: $cgsm-icon-arrow-down;
    }
}
.cgsm-icon-volume {
    &:before {
        content: $cgsm-icon-volume;
    }
}
.cgsm-icon-mute {
    &:before {
        content: $cgsm-icon-mute;
    }
}
.cgsm-icon-content-right {
    &:before {
        content: $cgsm-icon-content-right;
    }
}
.cgsm-icon-content-left {
    &:before {
        content: $cgsm-icon-content-left;
    }
}
.cgsm-icon-grid {
    &:before {
        content: $cgsm-icon-grid;
    }
}
.cgsm-icon-grid-2 {
    &:before {
        content: $cgsm-icon-grid-2;
    }
}
.cgsm-icon-columns {
    &:before {
        content: $cgsm-icon-columns;
    }
}
.cgsm-icon-loader {
    &:before {
        content: $cgsm-icon-loader;
    }
}
.cgsm-icon-bag {
    &:before {
        content: $cgsm-icon-bag;
    }
}
.cgsm-icon-ban {
    &:before {
        content: $cgsm-icon-ban;
    }
}
.cgsm-icon-flag {
    &:before {
        content: $cgsm-icon-flag;
    }
}
.cgsm-icon-trash {
    &:before {
        content: $cgsm-icon-trash;
    }
}
.cgsm-icon-expand {
    &:before {
        content: $cgsm-icon-expand;
    }
}
.cgsm-icon-contract {
    &:before {
        content: $cgsm-icon-contract;
    }
}
.cgsm-icon-maximize {
    &:before {
        content: $cgsm-icon-maximize;
    }
}
.cgsm-icon-minimize {
    &:before {
        content: $cgsm-icon-minimize;
    }
}
.cgsm-icon-plus {
    &:before {
        content: $cgsm-icon-plus;
    }
}
.cgsm-icon-minus {
    &:before {
        content: $cgsm-icon-minus;
    }
}
.cgsm-icon-check {
    &:before {
        content: $cgsm-icon-check;
    }
}
.cgsm-icon-cross {
    &:before {
        content: $cgsm-icon-cross;
    }
}
.cgsm-icon-move {
    &:before {
        content: $cgsm-icon-move;
    }
}
.cgsm-icon-delete {
    &:before {
        content: $cgsm-icon-delete;
    }
}
.cgsm-icon-menu {
    &:before {
        content: $cgsm-icon-menu;
    }
}
.cgsm-icon-archive {
    &:before {
        content: $cgsm-icon-archive;
    }
}
.cgsm-icon-inbox {
    &:before {
        content: $cgsm-icon-inbox;
    }
}
.cgsm-icon-outbox {
    &:before {
        content: $cgsm-icon-outbox;
    }
}
.cgsm-icon-file {
    &:before {
        content: $cgsm-icon-file;
    }
}
.cgsm-icon-file-add {
    &:before {
        content: $cgsm-icon-file-add;
    }
}
.cgsm-icon-file-subtract {
    &:before {
        content: $cgsm-icon-file-subtract;
    }
}
.cgsm-icon-help {
    &:before {
        content: $cgsm-icon-help;
    }
}
.cgsm-icon-open {
    &:before {
        content: $cgsm-icon-open;
    }
}
.cgsm-icon-ellipsis {
    &:before {
        content: $cgsm-icon-ellipsis;
    }
}

