/*
$color-cgsm-light: rgb(241,241,243);
$color-cgsm-dark: rgb(50,49,51);
$color-cgsm: rgb(176,90,226);

$color-tonic: rgb(90,226,176);
$color-fill: rgb(226,176,90);

$color-grey-light: rgb(203,202,204);
$color-grey: rgb(151,150,153);
$color-grey-dark: rgb(76,76,76);
*/

body {
	overflow-y: auto;
}

.fontCGSM {
    font-family: 'cgsm-regular', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fontCGSMbold {
    font-family: 'cgsm-bold', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fontCGSMlight {
    font-family: 'cgsm-light', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.fontCGSMicons {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'cgsm-font-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    
    /* Enable Ligatures ================ */
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    -o-font-feature-settings: "liga";
    font-feature-settings: "liga";

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.full {
	width: 100%;
	height: 100%;
	padding-top: 0;
	background: $bg url(../svg/cgsm-pattern-inv.svg) top center repeat;
	text-align: center;
}
.btn-connect {
	padding: auto 0;
	font-size: 24px !important;
}
.navbar-toggle {
	font-size: 28px !important;
}
.divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}
.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

#container-map {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 55px;

	@media (min-width: $screen-sm-min) {
		height: 400px;
	}
	@media (min-width: $screen-md-min) {
		height: 470px;
	}
	@media (min-width: $screen-lg-min) {
		height: 480px;
	}
	@media (min-width: $screen-big) {
		height: 650px;
	}
	@media (min-width: $screen-sm-min) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
		height: 384px;
	}
	@media (max-width: $screen-sm-max) and (orientation : portrait) and (-webkit-min-device-pixel-ratio: 2) {
		height: 210px;
	}
	@media (max-width: $screen-sm-max) and (orientation : landscape) and (-webkit-min-device-pixel-ratio: 2) {
		height: 144px;
	}
}

#TXT_map {
	max-height: 270px;
	position: relative;
	margin-top: -20px;
}
.txt-map {
	padding: 0;
	padding-bottom: -0.1em;

}
.txt-map h1, .txt-map p{
    text-align: center;
}
#geochart_target {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 650px;
}


.google-visualization-tooltip {
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;

	position: absolute;
	padding: 2em;
	margin: 0!important;
}

.google-visualization-tooltip-item-list {
	list-style-type: none;
	margin: 0!important;
	padding: 2em!important;
}

.google-visualization-tooltip-item:first-child {
	margin: 0!important;
	
}

.google-visualization-tooltip-item {
	margin: 0!important;
	padding: 0!important;
}


#present {
    padding-top: 0;   
    .row {
        margin: 0 0;
    }
}

.txt-present {
    text-align: center;
    padding-top: 0;
    margin: 0 0;
    padding: 0 0;
	@media (max-width: $screen-xs-max) {
		font-size: 1em;
	}
	@media (min-width: $screen-md-min) {

	}
	@media (min-width: $screen-lg-min) {

	}
	@media (min-width: $screen-big) {

	}
	p {
		font-size: 1.18em;
        @media (max-width: $screen-xs-max) {
            font-size: 1em;
        }
	}
	
	h2 {
		text-transform: uppercase;
		@media (max-width: $screen-lg-min) {
			font-size: 2em;
		}
		@media (max-width: $screen-md-min) {
			font-size: 1.65em;
		}
		@media (max-width: $screen-xs-max) {
			font-size: 1.45em;
		}
	}
}

.stats {
	position: relative;
	display: inline-block;
    top: -60px;
    left: 0;
    right: 0;
	width: 200px;
    max-height: 150px;
    text-align: center;
	
	p {
    	font-size: 2.4em;
    	line-height: 2em;
		@media (max-width: $screen-xs-max){
			font-size: 2em;
    		line-height: 1.5em;
		}

	}
	p:nth-child(2) {
		font-size: 1.6em;
		line-height: 2.3em;
		
		@media (max-width: $screen-xs-max){
		font-size: 1.2em;
    	line-height: 1.8em;
		}
	}
    #stats-bg-svg {
        @media (max-width: $screen-xs-max){
            position: relative;
            width: 50%;
            height: auto;
        }
    }

	@media (max-width: $screen-xs-max){
		top: 15px;
        left: 0;
        right: 0;
		padding: 0 0;
        margin: 0 0;
		width: 180px;
	}
}

#stats-txt {
    position: absolute;
	top: 0;
	left: 0;
	right: 50px;
	@media (max-width: $screen-xs-max){
        font-size: 0.9em;
        right: 92px;
	}
}

.stat-left {
	float: left;
	left: 60px;
	@media (max-width: $screen-xs-max) {
		left: 24%;
	}
}
.stat-right {
	float: right;
	right: 90px;
	@media (max-width: $screen-xs-max) {
		right: -50px;
        
	}
}

.colored-boxed {
	text-align: left;
	i, span {
		padding: 0.5em 0.5em;
		width: 70px;
		height: 70px;
		line-height: 70px;
		text-align: center;
		border: 2px solid;

		border-radius: .25em !important;
		-webkit-border-radius: .25em !important;
		-moz-border-radius: .25em !important;
	}
	.inv {
		span {
			border: 0 solid;
		}
	}
	h3 {
		font-size: 16px;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: 0px;
		text-transform: uppercase;
	}
	p {
		margin-top: 10px;
	}
}
.text {
	
	h3 {
		font-family: 'cgsm-light';
		font-size : 1.99em;
	}
	p {
		font-size : 1.15em;
	}
}
.bloc-studios-title::after {
	content: "";
	border-top-color: $color-cgsm;
	border-top-style: solid;
    border-top-width: 1px;
	margin-left: 7%;
	margin-right: 0;
	float: right;
	padding-bottom: 2em;
	display:block;
	width: 90%;
	
}
.bloc-studios-title {
	color: $color-cgsm;

	h2, p, a {
		color: $color-cgsm;
		text-decoration: none;
	}
	a:hover, a:active {
		text-decoration: none;
		color: $color-cgsm;
	}

	p {
		text-align: right;
		line-height: 5.5em;
	}
}

.studios {
	h4 {
		font-family: 'cgsm-regular';
		margin-top: 0;
	}
	.partner-item {
		padding-bottom: 0.5em;
		height: 240px;
	}
	img {
		@media (max-width: $screen-xs-max) {
			margin: 0 auto!important;
			text-align: center!important;
		}
	}
	@media (max-width: $screen-xs-max) {
		margin: 0 auto!important;
		text-align: center!important;
	}
}

.studios  .logo-thumb {
  width: 64px  !important;
  height: 64px  !important;
  overflow: hidden  !important;
}


.bloc-signup {
    margin-bottom: -1.4em;
	text-align: center;
	
	h1 {
		width: 100%;
		height: 100%;
		font-size: 4em;
		text-transform: uppercase;
	}
	h1 a,
	h1 a:hover,
	h1 a:active {
		text-decoration: none;
	}
	p {
		font-size: 2em;
	}
}

.bloc-signup h1 a,
.bloc-signup h1 a:hover,
.bloc-signup h1 a:active {
	text-decoration: none;
}

.footer {
    margin: 0;
    padding: 0;
    height: 180px;
    padding-bottom: 2em;
	font-size: 1.24em;
	line-height: 1.3em;
	
	.footer-name {
		font-size: 1.6em;
	}
    .socials i {
        padding: 0 15px;
        padding-top: 0;
        color: $color-cgsm-light;
        text-align: right;
        list-style-type: none;
        text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.65);
        background-color: transparent;
        -webkit-transition: 0.2s linear;
        -moz-transition: 0.2s linear;
        -o-transition: 0.2s linear;
        transition: 0.2s linear;
        
        @media (max-width: $screen-xs-max) {
            padding: 0 4px;
            padding-top: 20px;
        }
    }
    .socials i > a:hover {
        cursor: pointer;
        text-decoration: none;
    }
    .fa-github:hover {
        color: #B05AE2!important;
    }

    .fa-twitter:hover {
        color: #55ACEE!important;
    }

    .fa-linkedin:hover {
        color: #0077B5!important;
    }
	.social-txt {
		text-align: right;
	}
	p {
		display: inline-block;
	}
	li > a {
		font-size: 0.8em;
		line-height: 0.6em;
		margin-top: 0.5em;
	}
	
	a >span {
		margin: 0 0.5em;
		text-align: right;
		display: inline-block;
	}
	a {
		text-decoration: none;

	}
	a:hover, a:active {
		text-decoration: underline;
	}
}


/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
	
	a {
		display: block;
		width: 35px;
		height: 35px;
		text-align: center;

		font-size: 30px;
		line-height: 20px;
	}
	a:hover, a:active {

	}
}
/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */


#arrow-down{
    position: relative;
    -webkit-animation-name: drop;
	-webkit-animation-duration: 1.25s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1.25s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:5px; opacity: 1;}
	100% { top:10px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:5px; opacity: 1;}
	100% { top:10px; opacity: 0;}
}


/* ---------------------------------------------- /*
 *Studio Closed ribbon
/* ---------------------------------------------- */
#closed-ribbon {
	z-index: 100000 !important;
}
.corner-ribbon {
	font-family: 'cgsm-regular';
	width: 200px;
	background: $danger;
	position: absolute;
	top: 25px;
	left: -50px;
	text-align: center;
	line-height: 50px;
	letter-spacing: 1px;
	color: $color-cgsm-light;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}
.corner-ribbon.sticky {
	position: fixed;
}

.corner-ribbon.top-left {
	top: 25px;
	left: -50px;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.corner-ribbon.top-right {
	top: 25px;
	right: -50px;
	left: auto;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-left {
	top: auto;
	bottom: 25px;
	left: -50px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

.corner-ribbon.bottom-right {
	top: auto;
	right: -50px;
	bottom: 25px;
	left: auto;
	transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

/* ---------------------------------------------- /*
 * Vertical Align
/* ---------------------------------------------- */
.v-align {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}