/*
$color-cgsm-light: rgb(241,241,243);
$color-cgsm-dark: rgb(50,49,51);
$color-cgsm: rgb(176,90,226);

$color-tonic: rgb(90,226,176);
$color-fill: rgb(226,176,90);

$color-grey-light: rgb(203,202,204);
$color-grey: rgb(151,150,153);
$color-grey-dark: rgb(76,76,76);
*/

body {
	overflow-y: auto;
}

fontCGSM {
    font-family: 'cgsm-regular';
}
.fontCGSMbold {
    font-family: 'cgsm-bold';
}
.fontCGSMlight {
    font-family: 'cgsm-light';
}


.dropdown-menu .divider {
    height: 1px;
    margin: 9px 0;
    overflow: hidden;
}

#container-map {
	position: relative;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	padding-top: 55px;

	@media (min-width: $screen-sm-min) {
		height: 500px;
	}
	@media (min-width: $screen-md-min) {
		height: 550px;
	}
	@media (min-width: $screen-lg-min) {
		height: 650px;
	}
	@media (min-width: $screen-big) {
		height: 800px;
	}

}

#TXT_map {
	max-height: 270px;
	position: relative;
	margin-top: -20px;
/*	@media (min-width: $screen-sm-min) {
		margin-top: 400px;
	}
	@media (min-width: $screen-md-min) {
		margin-top: 480px;
	}
	@media (min-width: $screen-lg-min) {
		margin-top: -20px;
	}
	@media (min-width: $screen-big) {
		margin-top: 700px;
	}*/
}
.txt-map {
	padding: 0;
	padding-bottom: -0.1em;

}
.txt-map h1, .txt-map p{
    text-align: center;
}
#geochart_target {
	position: relative;
	width: 100%;
	height: 100%;
	max-height: 650px;
	@media (min-width: $screen-lg-min) {
		height: 650px;
	}
	@media (min-width: $screen-big) {
		height: 800px;
		max-height: 800px;
	}
}


.google-visualization-tooltip {
	-webkit-border-radius: 2px !important;
	-moz-border-radius: 2px !important;
	border-radius: 2px !important;

	position: absolute;
	padding: 2em;
	margin: 0!important;
}

.google-visualization-tooltip-item-list {
	list-style-type: none;
	margin: 0!important;
	padding: 2em!important;
}

.google-visualization-tooltip-item:first-child {
	margin: 0!important;
	
}

.google-visualization-tooltip-item {
	margin: 0!important;
	padding: 0!important;
}


#present {

}

.txt-present {
    text-align: center;
	@media (max-width: $screen-xs-max) {
		padding-top: 1em;
		font-size: 1em;
	}
	@media (min-width: $screen-md-min) {

	}
	@media (min-width: $screen-lg-min) {

	}
	@media (min-width: $screen-big) {

	}
	p {
		
	}
	
	h2 {
		text-transform: uppercase;
		@media (max-width: $screen-xs-max) {
			font-size: 1.25em;
		}
	}
}

.stats {
	position: relative;
	display: inline-block;
    top: -60px;
	width: 200px;
    max-height: 150px;
    text-align: center;
	
	p {
    font-size: 2.4em;
    line-height: 2em;
	}
	p:nth-child(2) {
		font-size: 1.6em;
		line-height: 2.3em;
	}
	@media (min-width: $screen-big) {
		top: -180px;
	}
}

#stats-txt {
    position: absolute;
	top: 0;
	left: 20%;
	right: 20%;
}

.stat-left {
	float: left;
	left: 60px;
	@media (max-width: $screen-xs-max) {
		left: 0;
	}
}
.stat-right {
	float: right;
	right: 90px;
	@media (max-width: $screen-xs-max) {
		right: 0;
	}
}

.colored-boxed {
	text-align: left;
	i {
		width: 70px;
		height: 70px;
		line-height: 70px;
		text-align: center;
		border: 1px solid;

		border-radius: .25em !important;
		-webkit-border-radius: .25em !important;
		-moz-border-radius: .25em !important;
		font-size: 30px;
	}
	h3 {
		font-size: 16px;
		font-weight: 600;
		margin-top: 20px;
		margin-bottom: 0px;
		text-transform: uppercase;
	}
	p {
		margin-top: 10px;
	}
}



.studios {
	h4 {
		font-family: 'cgsm-regular';
		margin-top: 0;
	}
	.partner-item {
		padding-bottom: 0.5em;
		height: 240px;
	}
	img {
		@media (max-width: $screen-xs-max) {
			margin: 0 auto!important;
			text-align: center!important;
		}
	}
	@media (max-width: $screen-xs-max) {
		margin: 0 auto!important;
		text-align: center!important;
	}
}




.bloc-signup {
    margin-bottom: -1em;
	text-align: center;
}
.bloc-signup h1 {
	width: 100%;
	height: 100%;
	font-size: 3em;
	text-transform: uppercase;
}
.bloc-signup h1 a,
.bloc-signup h1 a:hover,
.bloc-signup h1 a:active {
	text-decoration: none;
}
.footer {
    margin: 0;
    padding: 0;
    height: 180px;
    padding-bottom: 2em;
	font-size: 1.24em;
	line-height: 1.3em;
	
	.footer-name {
		font-size: 1.6em;
	}
	.social-txt {
		text-align: right;
	}
	p {
		display: inline-block;
	}
	li > a {
		font-size: 0.8em;
		line-height: 0.6em;
		margin-top: 0.5em;
	}

/*	i, i > a {
		margin: 0;
	}*/
	
	a >span {
		margin: 0 0.5em;
		text-align: right;
		display: inline-block;
	}
	a {
		text-decoration: none;

	}
	a:hover, a:active {
		text-decoration: underline;
	}
}

/* ---------------------------------------------- /*
 * Scroll to top
/* ---------------------------------------------- */

.scroll-up {
	position: fixed;
	display: none;
	z-index: 999;
	bottom: 2em;
	right: 2em;
	
	a {
		display: block;
		width: 35px;
		height: 35px;
		text-align: center;

		font-size: 30px;
		line-height: 20px;
	}
	a:hover, a:active {

	}
}
