/* BOOTSTRAP media queries
-------------------------------------------------- */
$screen-xsmall: 384px;

$screen-xs-max: 767px;
$screen-sm-min: 768px;

$screen-md-min: 992px;
$screen-md-max: 991px;

$screen-lg-min: 1200px;
$screen-big: 1900px;

/* CUSTOMIZE HOME MAP
-------------------------------------------------- */
$break-width-small: 767px;



/* GEOENGINE VIEW dashboard map
-------------------------------------------------- */
$break-height-small: 800px;
$break-height-medium: 1024px;
$break-height-large: 1080px;

$break-height-negative: 200px;
