body, html {
  height: 100%;
  padding: 0;
  margin: 0; }

body {
  overflow-x: hidden;
  background-color: #f2f2f2; }

body.home {
  overflow-x: hidden;
  background-color: #ECF0F1; }

/* CUSTOMIZE HOME MAP
-------------------------------------------------- */
#geochart_div {
  width: 100%;
  /*height: 750px;*/
  text-align: center;
  margin: 0 auto;
  padding: 0;
  padding-top: 70px;
  /*		@media screen and (max-width: $break-width-small) {
  	  		height: 350px;
  		}*/
  /* Small devices (tablets, 768px and up) */
  /* Medium devices (desktops, 992px and up) */
  /* Large devices (large desktops, 1200px and up) */ }
  @media (min-width: 768px) {
    #geochart_div {
      height: 350px; } }
  @media (min-width: 992px) {
    #geochart_div {
      height: 550px; } }
  @media (min-width: 1200px) {
    #geochart_div {
      height: 700px; } }

/*@media (max-width: 767px){
	#geochart_div {
		height: 350px;
	}*/
.geoengine_view {
  margin: 0;
  padding: 0;
  position: relative;
  height: calc(1024px - 200px); }
  @media screen and (max-height: 800px) {
    .geoengine_view {
      height: calc(800px - 200px); } }
  @media screen and (min-height: 1080px) {
    .geoengine_view {
      height: calc(1080px - 200px); } }

.openerp .oe_view_manager_current > .oe_view_manager_header {
  border-bottom: 0 solid transparent;
  background-color: #434A54;
  color: #ECF0F1;
  background-image: transparent; }

.openerp .oe_leftbar {
  border-right: 0 solid transparent;
  text-shadow: none; }

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group {
  border: 1px solid #6C7A89; }

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group a {
  color: #ECF0F1; }

.openerp .oe_view_manager table.oe_view_manager_header .oe_button_group .active {
  background: #6C7A89; }

#map_infobox {
  top: 14px;
  left: 24px; }

/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */
/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20; }

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0; }

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px; }

.navbar-wrapper .navbar .container {
  width: auto; }

.btn-primary {
  background-color: #6C7A89;
  border-color: rgba(108, 122, 137, 0.8); }
  .btn-primary:hover {
    background-color: rgba(108, 122, 137, 0.8);
    border-color: rgba(108, 122, 137, 0.8); }

.openerp img {
  border-radius: 0; }
.openerp .oe_view_manager_current > .oe_view_manager_header,
.openerp ul.oe_form_status li,
.openerp ul.oe_form_status li.oe_active,
.openerp .oe_form header {
  background-image: none; }
.openerp ul.oe_form_status li.oe_active > .arrow span {
  background: #6C7A89 none; }
.openerp ul.oe_form_status li.oe_active {
  background-color: #6C7A89; }
.openerp ul.oe_form_status li > .arrow span {
  background: #6C7A89 none; }
.openerp .oe_secondary_menu_section {
  color: #6C7A89; }
.openerp .oe_form .oe_form_required select:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required textarea:not([disabled]):not([readonly]),
.openerp .oe_form .oe_form_required input:not([disabled]):not([readonly]) {
  background-color: #EEEEEE !important;
  color: #757D75; }
.openerp select {
  color: #757D75; }
.openerp .oe_application .oe_breadcrumb_title > * {
  color: #95A5A6; }
.openerp .oe_application .oe_breadcrumb_item:not(:last-child) {
  color: #757D75; }
.openerp .oe_application a {
  color: #95A5A6; }
.openerp .oe_application .oe_form_sheetbg {
  background: none; }
.openerp .nav-pills > li.active a {
  background-color: #6C7A89;
  color: #ECF0F1; }
  .openerp .nav-pills > li.active a:hover, .openerp .nav-pills > li.active a:focus {
    background-color: rgba(108, 122, 137, 0.8);
    color: #ECF0F1; }
  .openerp .nav-pills > li.active a .badge {
    background-color: #6C7A89; }
.openerp .oe_stat_button {
  color: #ABB7B7; }
  .openerp .oe_stat_button .stat_button_icon {
    color: #ABB7B7; }
  .openerp .oe_stat_button:hover {
    color: #ABB7B7;
    background-color: #ECF0F1; }
    .openerp .oe_stat_button:hover .fa {
      color: #6C7A89; }
.openerp .oe_leftbar > div a.oe_logo {
  background-color: #434A54; }
.openerp .oe_searchview {
  border-radius: 0;
  border-color: #95A5A6; }
  .openerp .oe_searchview .oe_focused {
    border-color: #95A5A6; }
.openerp .oe_tag {
  border-radius: 0;
  border-color: #95A5A6;
  background-color: #ECF0F1; }
.openerp .oe_tag_dark {
  background-color: #6C7A89; }
.openerp .oe_searchview .oe_searchview_facets .oe_searchview_facet .oe_facet_values {
  background-color: #ECF0F1; }
.openerp .oe_searchview .oe-autocomplete ul li.oe-selection-focus {
  background-color: #6C7A89 !important; }
.openerp .oe_view_manager_view_search {
  color: #6C7A89; }
.openerp .oe_searchview_drawer .oe_searchview_section li {
  font-size: 1.1em;
  line-height: 20px;
  min-width: 10px;
  height: 20px;
  padding: 0 7px;
  white-space: nowrap;
  display: inline-block;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
  text-transform: uppercase;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  border-radius: 10px !important; }
.openerp .oe_searchview_drawer li {
  color: #757D75;
  background-color: #ECF0F1; }
.openerp .oe_searchview_drawer .badge {
  color: #ECF0F1;
  background-color: #6C7A89; }
.openerp .badge {
  color: #ECF0F1;
  background-color: #6C7A89; }
.openerp .oe_horizontal_separator {
  color: #ABB7B7; }

.oe_single_form_container {
  padding: 10px;
  left: 50%;
  top: 50%;
  width: 400px;
  margin-left: -200px; }

.navbar-static-top {
  background: none repeat scroll 0 0 #434a54; }

.navbar-static-top {
  z-index: 1000;
  border-width: 0 0 0; }

footer {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  padding: 10px; }

.modal-content {
  box-shadow: none; }

a {
  color: #95A5A6; }
  a:hover, a:focus {
    color: #95A5A6; }

.btn-link {
  color: #95A5A6; }

.bg-logo-color {
  background-color: #434A54; }

#map_infobox {
  bottom: -13px;
  left: 50px;
  width: 250px;
  height: 150px;
  background-color: #ECF0F1; }

.map_overlay {
  padding: 0;
  border: 1px solid #ABB7B7; }

#map_info {
  height: auto;
  padding: 0; }

#map_info_header {
  background-color: #ABB7B7;
  color: #ECF0F1;
  padding: 10px;
  font-size: 1.5em; }

#map_info_content {
  padding: 10px 10px 10px 20px; }

#map_info_footer {
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%; }
  #map_info_footer button {
    border: 0;
    background-color: #6C7A89;
    color: #ECF0F1;
    width: 100%; }

/* Z-INDEX important */
.oe_im,
.oe_im_chatview {
  z-index: 10000 !important; }

.openerp .oe_loading {
  z-index: 9000 !important; }

#the_map,
div.olMap {
  z-index: 100; }

.center-line {
  display: inline-block;
  width: 70px;
  height: 1px;
  border-top: 1px solid #bbb;
  /* border-bottom: 1px solid $skincolor; */
  margin: auto; }

a {
  -moz-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -webkit-transition: all 200ms ease-in;
  transition: all 200ms ease-in; }

/*# sourceMappingURL=base.css.map */
