@import "../stylesheets/_bootstrap";
@import "_responsive";
@import "_colors";
@import "_fonts";
@import "_custom";

// Has to be imported after everything.
@import "_flatify";
@import "_homepage";

body {
  overflow: scroll;
}

html, body, #wrapwrap {
  height: 0 !important;
}

.grid-item {
  position: relative;
  float: left;
  margin: 5px;
  padding: 10px;
  background: #784388;
  height: 200px;
  width: 200px;
  color: #262524;
}

.mid-width {
  width: 50px;
  height: 50px;
  background: #888;
}

#map {
  height: 500px;
}
