$cgsm-icon-facebook: "\e900";
$cgsm-icon-github: "\e901";
$cgsm-icon-instagram: "\e902";
$cgsm-icon-linkedin: "\e903";
$cgsm-icon-twitter: "\e906";
$cgsm-icon-vimeo: "\e907";
$cgsm-icon-youtube: "\e908";
$cgsm-icon-eye: "\e000";
$cgsm-icon-paper-clip: "\e001";
$cgsm-icon-mail: "\e002";
$cgsm-icon-toggle: "\e003";
$cgsm-icon-layout: "\e004";
$cgsm-icon-link: "\e005";
$cgsm-icon-bell: "\e006";
$cgsm-icon-lock: "\e007";
$cgsm-icon-unlock: "\e008";
$cgsm-icon-ribbon: "\e009";
$cgsm-icon-image: "\e010";
$cgsm-icon-signal: "\e011";
$cgsm-icon-target: "\e012";
$cgsm-icon-clipboard: "\e013";
$cgsm-icon-clock: "\e014";
$cgsm-icon-watch: "\e015";
$cgsm-icon-air-play: "\e016";
$cgsm-icon-camera: "\e017";
$cgsm-icon-video: "\e018";
$cgsm-icon-disc: "\e019";
$cgsm-icon-printer: "\e020";
$cgsm-icon-monitor: "\e021";
$cgsm-icon-server: "\e022";
$cgsm-icon-cog: "\e023";
$cgsm-icon-heart: "\e024";
$cgsm-icon-paragraph: "\e025";
$cgsm-icon-align-justify: "\e026";
$cgsm-icon-align-left: "\e027";
$cgsm-icon-align-center: "\e028";
$cgsm-icon-align-right: "\e029";
$cgsm-icon-book: "\e030";
$cgsm-icon-layers: "\e031";
$cgsm-icon-stack: "\e032";
$cgsm-icon-stack-2: "\e033";
$cgsm-icon-paper: "\e034";
$cgsm-icon-paper-stack: "\e035";
$cgsm-icon-search: "\e036";
$cgsm-icon-zoom-in: "\e037";
$cgsm-icon-zoom-out: "\e038";
$cgsm-icon-reply: "\e039";
$cgsm-icon-circle-plus: "\e040";
$cgsm-icon-circle-minus: "\e041";
$cgsm-icon-circle-check: "\e042";
$cgsm-icon-circle-cross: "\e043";
$cgsm-icon-square-plus: "\e044";
$cgsm-icon-square-minus: "\e045";
$cgsm-icon-square-check: "\e046";
$cgsm-icon-square-cross: "\e047";
$cgsm-icon-microphone: "\e048";
$cgsm-icon-record: "\e049";
$cgsm-icon-skip-back: "\e050";
$cgsm-icon-rewind: "\e051";
$cgsm-icon-play: "\e052";
$cgsm-icon-pause: "\e053";
$cgsm-icon-stop: "\e054";
$cgsm-icon-fast-forward: "\e055";
$cgsm-icon-skip-forward: "\e056";
$cgsm-icon-shuffle: "\e057";
$cgsm-icon-repeat: "\e058";
$cgsm-icon-folder: "\e059";
$cgsm-icon-umbrella: "\e060";
$cgsm-icon-moon: "\e061";
$cgsm-icon-thermometer: "\e062";
$cgsm-icon-drop: "\e063";
$cgsm-icon-sun: "\e064";
$cgsm-icon-cloud: "\e065";
$cgsm-icon-cloud-upload: "\e066";
$cgsm-icon-cloud-download: "\e067";
$cgsm-icon-upload: "\e068";
$cgsm-icon-download: "\e069";
$cgsm-icon-location: "\e070";
$cgsm-icon-location-2: "\e071";
$cgsm-icon-map: "\e072";
$cgsm-icon-battery: "\e073";
$cgsm-icon-head: "\e074";
$cgsm-icon-briefcase: "\e075";
$cgsm-icon-speech-bubble: "\e076";
$cgsm-icon-anchor: "\e077";
$cgsm-icon-globe: "\e078";
$cgsm-icon-box: "\e079";
$cgsm-icon-reload: "\e080";
$cgsm-icon-share: "\e081";
$cgsm-icon-marquee: "\e082";
$cgsm-icon-marquee-plus: "\e083";
$cgsm-icon-marquee-minus: "\e084";
$cgsm-icon-tag: "\e085";
$cgsm-icon-power: "\e086";
$cgsm-icon-command: "\e087";
$cgsm-icon-alt: "\e088";
$cgsm-icon-esc: "\e089";
$cgsm-icon-bar-graph: "\e090";
$cgsm-icon-bar-graph-2: "\e091";
$cgsm-icon-pie-graph: "\e092";
$cgsm-icon-star: "\e093";
$cgsm-icon-arrow-left: "\e094";
$cgsm-icon-arrow-right: "\e095";
$cgsm-icon-arrow-up: "\e096";
$cgsm-icon-arrow-down: "\e097";
$cgsm-icon-volume: "\e098";
$cgsm-icon-mute: "\e099";
$cgsm-icon-content-right: "\e100";
$cgsm-icon-content-left: "\e101";
$cgsm-icon-grid: "\e102";
$cgsm-icon-grid-2: "\e103";
$cgsm-icon-columns: "\e104";
$cgsm-icon-loader: "\e105";
$cgsm-icon-bag: "\e106";
$cgsm-icon-ban: "\e107";
$cgsm-icon-flag: "\e108";
$cgsm-icon-trash: "\e109";
$cgsm-icon-expand: "\e110";
$cgsm-icon-contract: "\e111";
$cgsm-icon-maximize: "\e112";
$cgsm-icon-minimize: "\e113";
$cgsm-icon-plus: "\e114";
$cgsm-icon-minus: "\e115";
$cgsm-icon-check: "\e116";
$cgsm-icon-cross: "\e117";
$cgsm-icon-move: "\e118";
$cgsm-icon-delete: "\e119";
$cgsm-icon-menu: "\e120";
$cgsm-icon-archive: "\e121";
$cgsm-icon-inbox: "\e122";
$cgsm-icon-outbox: "\e123";
$cgsm-icon-file: "\e124";
$cgsm-icon-file-add: "\e125";
$cgsm-icon-file-subtract: "\e126";
$cgsm-icon-help: "\e127";
$cgsm-icon-open: "\e128";
$cgsm-icon-ellipsis: "\e129";
